html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset End */

html {
    font-family: 'Lato', sans-serif;
    background-color: black;
}


header {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    
}

.content {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    width: 200px;
    height: 280px;
}

article {
    display: flex;
    justify-content: space-around;
    width: 40%;   
    max-height: 400px;
    border: cornsilk 1px solid;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px 0px;
}

article:hover, article:focus, article:hover span, article:focus span{
    box-shadow: 25px 0px 25px -25px white, -25px 0px 25px -25px white;
    color: rgb(219, 214, 214);
}

article:nth-of-type(1), article:nth-of-type(2){
    margin-top: 60px;
}

.image img{
    border-radius: 15px;
}

.comment h2 {
    font-size: 30px;
    margin: 10% 0;
    letter-spacing: 1px;
    color: rgb(199, 201, 207);
}

.comment p{
    width: 200px;
    font-size: 20px;
    color: rgba(184, 178, 178, 0.25);
    line-height: 1.25em;
}

.a{
    transition:calc(2*0.2s);
}

.b{
    transition:calc(2*0.4s);
}
.c{
    transition:calc(2*0.6s);
}
.d{
    transition:calc(2*0.8s);
}
.e{
    transition:calc(2*1s);
}
.f{
    transition:calc(2*1.2s);
}
.g{
    transition:calc(2*1.4s);
}
.h{
    transition:calc(2*1.6s);
}
.i{
    transition:calc(2*1.8s);
}
.j{
    transition:calc(2*2s);
}
.k{
    transition:calc(2*2.2s);
}
.l{
    transition:calc(2*2.4s);
}

.m{
    transition:calc(2*2.6s);
}
.n{
    transition:calc(2*2.8s);
}
.o{
    transition:calc(2*3s);
}
.p{
    transition:calc(2*3.2s);
}
.q{
    transition:calc(2*3.4s);
}
.r{
    transition:calc(2*3.6s);
}
.s{
    transition:calc(2*3.8s);
}
.t{
    transition:calc(2*4s);
}

.u{
    transition:calc(2*4.2s);
}
