{% extends '../blog/base.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<h2 class="tm-gold-text tm-title">Log In</h2>
<form method="post"class="from-group">
  {% csrf_token %}
  {{form|crispy}}
  <button type="submit" class="btn btn-success">Log In</button>
  <p>Don't have an account? Create one <a href="/register"> here</a><p>
</form>

<br>
<a href="/">
	<button class="tm-btn">Back</button>
</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="tm-footer">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
              <div class="tm-footer-content-box tm-footer-links-container">
                  <a href="{% url 'GDPR' %}" class="tm-footer-link">
                  <h3 class="tm-gold-text tm-title tm-footer-content-box-title">GDPR</h3>
                  </a>
              </div>
              
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12 tm-copyright-col">
              <p class="tm-copyright-text">Copyright 2022 Story Time Inc.</p>
          </div>
      </div>
  </div>
</footer>
{% endblock %}
