{% extends './base.html' %}

{% load static %}

{% block title %}Story Details{% endblock %}

{% block content %}
<body>
    
    <div class="tm-header">
        <div class="container-fluid">
            <div class="tm-header-inner">
                <a href="/" class="navbar-brand tm-site-name">Story Time</a>
                
                <!-- navbar -->
                <nav class="navbar tm-main-nav">

                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                        &#9776;
                    </button>
                    
                    <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'profile' user.username %}" class="nav-link">Profile</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/my_stories" class="nav-link">My Stories</a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">Log Out</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a href="/register" class="nav-link">Sign Up</a>
                            </li>
                            {% endif %}
                        </ul>                        
                    </div>
                    
                </nav>  

            </div>                                  
        </div>            
    </div>

    {% comment %} <div class="tm-home-img-container">
        <img src={% static 'images/tm-home-img.jpg' %} alt="Image" class="hidden-lg-up img-fluid">
    </div> {% endcomment %}

    <section class="tm-section">
        <div class="container-fluid">
            <div class="row">
		        <div class="class=col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                        {% if story.img %}
                        <img src='{{story.img.url}}' alt="connect" class="tm-margin-b-20 img-fluid" style="width: 100%; height: auto;">
		                {% endif %}
                        <h2 class="tm-gold-text tm-title">{{story.title}}</h2> 
		        	<p class="tm-subtitle">{{story.text}} </p>
		        </div>
        	
        	    <br>
        </div>
    </section>
    
    <footer class="tm-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <div class="tm-footer-content-box tm-footer-links-container">
                        <a href="{% url 'GDPR' %}" class="tm-footer-link">
                        <h3 class="tm-gold-text tm-title tm-footer-content-box-title">GDPR</h3>
                        </a>
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 tm-copyright-col">
                    <p class="tm-copyright-text">Copyright 2022 Story Time Inc.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- load JS files -->
    <script type="javascript" src={% static 'js/jquery-1.11.3.min.js' %}></script>             <!-- jQuery (https://jquery.com/download/) -->
    <script type="javascript" src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap, http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h --> 
    <script type="javascript" src={% static 'js/bootstrap.min.js' %}></script>                 <!-- Bootstrap (http://v4-alpha.getbootstrap.com/) -->
    
</body>
{% endblock %}
