{% extends './base.html' %}

{% block title %}Modify password{% endblock %}


{% block content %}
    <div class="content-section">
        <h2 class="tm-gold-text tm-title">Password Reset Confirm</h2>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-outline-info" type="submit">Reset password</button>
        </form>
    </div>
    
    <br><br><br>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' user.username %}">
    	<button class="tm-btn">Back</button>
    </a>
    {% endif %}
    <footer class="tm-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <div class="tm-footer-content-box tm-footer-links-container">
                        <a href="{% url 'GDPR' %}" class="tm-footer-link">
                        <h3 class="tm-gold-text tm-title tm-footer-content-box-title">GDPR</h3>
                        </a>
                    </div>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 tm-copyright-col">
                    <p class="tm-copyright-text">Copyright 2022 Story Time Inc.</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
