{% extends './base.html' %}

{% block title %}Modify password{% endblock %}


{% block content %}
    <div class="content-section">
        <h2>Password Reset Confirm</h2><hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-outline-info" type="submit">Reset password</button>
        </form>
    </div>
    
    
    <br><br><br>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' user.username %}">
    	<button>Back</button>
    </a>
    {% endif %}
{% endblock %}
