{% extends './base.html' %}

{% block title %}Settings{% endblock %}

{% load qr_code %}

{% block content %}
<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <h2 class="tm-gold-text tm-title">Settings</h2>
    <br>
    Hi <b>{{user.username}}</b>.
    <br>
    Your current email is: <b>{{user.email}}</b>
    <br>
    Feel free to change it by completing the following form:
    <br> <br>
    <form method='POST' enctype="multipart/form-data">
	{%csrf_token%}
	{{form}}
	<br>
	<button class="btn btn-outline-info" type='submit'>Update</button>
	<br>
	<a href="/password_change">Change password?</a>
    </form><br>
    <a href="/profile_delete">
    <button class="tm-btn" type="submit" style="background-color:darkred;">Do you want to delete the account?</button>
    </a>
    <br>
    {% if qr != None %}
    {% qr_from_text qr size="T" image_format="png" error_correction="L" %}
    <form method='POST' enctype="multipart/form-data" action="/update_otp">
	{%csrf_token%}
	<input type="hidden" name="enable" value="0">
	<button class="tm-btn" type="submit">Disable 2FA</button>
    </form>
    {% else %}
    <br>
    <form method='POST' enctype="multipart/form-data" action="/update_otp">
	{%csrf_token%}
	<input type="hidden" name="enable" value="1">
	<button class="tm-btn" type="submit">Enable 2FA</button>
    </form>
    {% endif %}
    <br>
    <a href="/profile/{{user.username}}">
	<button class="tm-btn">Back</button>
    </a>   
</div>
{% endblock content %}