{% extends './base.html' %}

{% block title %}Settings{% endblock %}

{% load qr_code %}

{% block content %}
<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <legend class="border-bottom mb-4">Settings:</legend>
    <br>

    Hi {{user.username}}.
    <br>
    Your current email is: {{user.email}}
    <br>
    Feel free to change it by completing the following form:
    <br> <br>
    <form method='POST' enctype="multipart/form-data">
        {%csrf_token%}
        {{form}}
        <br>
        <button type='submit'>Update</button>
        <br>
        <a href="/password_change">Change password?</a>
    </form>
    {% if qr != None %}
    {% qr_from_text qr size="T" image_format="png" error_correction="L" %}
    <form method='POST' enctype="multipart/form-data" action="/update_otp">
        {%csrf_token%}
        <input type="hidden" name="enable" value="0">
        <button type="submit">Disable 2FA</button>
    </form>
    {% else %}
    <form method='POST' enctype="multipart/form-data" action="/update_otp">
        {%csrf_token%}
        <input type="hidden" name="enable" value="1">
        <button type="submit">Enable 2FA</button>
    </form>
    {% endif %}
    <br>
    <a href="/profile/{{user.username}}">
        <button>Back</button>
    </a>
</div>
{% endblock content %}